.background3 {
  top: 15px;
}

.ab-head {
  position: relative;
  margin-bottom: 170px;
}

.ab-head .arrow1 {
  position: absolute;
  text-align: center;
}

.ab-head .ab-main {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ab-head .ab-main .ab-left .shadow1 {
  background: linear-gradient(194.5deg, rgba(255, 255, 255, 0.72) 2.87%, rgba(255, 255, 255, 0.17) 89.73%);
  border-radius: 30px;
  position: absolute;
  width: 570px;
  height: 765px;
  z-index: -1;
  overflow: hidden;
}

.ab-head .ab-main .ab-left .ab-img-section {
  margin-left: 120px;
  margin-top: 50px;
}

.ab-head .ab-main .ab-left .ab-img-section .img {
  border-radius: 30px;
}

.ab-head .ab-main .ab-left .ab-img-section .ab-left-lt {
  width: 100%;
  height: 100%;
}

.ab-head .ab-main .ab-left .ab-img-section .ab-left-lt img {
  width: 100%;
}

.ab-head .ab-main .ab-left .ab-img-section .ab-left-rt {
  width: 100%;
  height: 100%;
  margin-left: 30px;
}

.ab-head .ab-main .ab-left .ab-img-section .ab-left-rt img {
  width: 100%;
}

.ab-head .ab-main .ab-left .ab-img-section .item1 {
  margin-top: 60px;
}

.ab-head .ab-main .ab-left .ab-img-section .item3 {
  margin-top: -40px;
}

.ab-head .ab-main .ab-left .ab-background {
  width: 90%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(78.81% 78.81% at 67.44% 21.19%, rgba(207, 116, 255, 0.1) 0%, rgba(67, 123, 255, 0.1) 47.4%, rgba(50, 222, 250, 0.1) 100%);
  -webkit-filter: blur(305px);
          filter: blur(305px);
  position: absolute;
  left: 50px;
  top: 110px;
  z-index: -999;
}

.ab-head .ab-main .ab-right {
  position: relative;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.ab-head .ab-main .ab-right .ab-right-main {
  width: 450px;
  height: 376px;
}

.ab-head .ab-main .ab-right .ab-right-main .title {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
}

.ab-head .ab-main .ab-right .ab-right-main .list ul {
  padding-left: 0;
}

.ab-head .ab-main .ab-right .ab-right-main .list ul .list-item {
  list-style: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

.ab-head .ab-main .ab-right .ab-right-main .list ul .list-item .list-desc {
  color: #566FFE;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
  padding: 5px;
}

.ab-head .ab-main .ab-right .ab-right-main .list ul .left {
  border-right: 1px solid #000;
}

.ab-head .ab-main .ab-right .ab-right-main .list ul .right {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.mission {
  margin: 100px 0;
  margin-bottom: 170px;
}

.mission .container .title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 70px;
}

.mission .container .title h1 {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
}

.mission .container .mission-sm {
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.mission .container .mission-sm .item {
  text-align: center;
  padding: 30px;
  border-radius: 18px;
  height: 230px;
  width: 330px;
  margin-bottom: 30px;
}

.mission .container .mission-sm .item .item-img {
  margin-top: -50px;
  margin-bottom: 25px;
}

.mission .container .mission-sm .item .item-desc {
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #012E47;
}

.mission .container .mission-sm .item p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #7D8694;
}

.founder {
  height: 100%;
}

.founder .container .row .item-img {
  border-radius: 30px;
  width: 100%;
}

.review {
  margin-bottom: 90px;
}

.review .container .heading {
  text-align: center;
}

.review .container .heading h1 {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
}

.review .container .heading img {
  padding: 5px;
  border-radius: 50%;
  margin-right: -10px;
}

.review .container .review-item {
  text-align: center;
}

.review .container .review-item .rev-desc {
  width: 690px;
  height: 372px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background: linear-gradient(194.5deg, rgba(255, 255, 255, 0.72) 2.87%, rgba(255, 255, 255, 0.17) 89.73%);
  padding: 50px;
  border-radius: 30px;
}

.review .container .review-item .rev-desc img {
  width: 46px;
  height: 40px;
}

.swiper {
  height: 550px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.scroll {
  background-color: #fff;
}

.economy {
  margin-bottom: 90px;
}

.economy .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.economy .item {
  width: 45%;
}

.economy .item .item-img {
  width: 100%;
}

.economy .item .item-img img {
  width: 100%;
}

.economy .item .chart-img {
  -webkit-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.economy .item .center-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.economy .item .center-img img {
  width: 100%;
}

.economy .item2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.economy .item2 .item-desc .head {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
}

.economy .item2 .item-desc .desc {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.economy .item2 .item-desc button {
  color: #fff;
  background: linear-gradient(180.66deg, rgba(207, 116, 255, 0.8) -49.75%, rgba(27, 89, 237, 0.8) 186.2%);
  padding: 16px 45px;
  border-radius: 18px;
  font-size: 18px;
  font-weight: 700;
}

.economy .item2 .item-desc .btn:hover {
  color: #566FFE;
  background: #fff;
}

.find .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.find .container .row {
  background: linear-gradient(183.54deg, rgba(207, 116, 255, 0.7) -74.74%, rgba(27, 89, 237, 0.7) 236.1%);
  width: 930px;
  height: 333px;
  border-radius: 35px;
  margin-bottom: 100px;
}

.find .container .row .head {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #F5FAFC;
  text-align: center;
}

.find .container .row .button {
  text-align: center;
}

.find .container .row .button .btn {
  padding: 16px 45px;
  border-radius: 35px;
  border: 1px solid #F5FAFC;
  border-radius: 10px;
}

.find .container .row .button .btn:hover, .find .container .row .button .active {
  background: #F5FAFC;
  color: #000;
}

@media (max-width: 575px) {
  .container {
    max-width: 90%;
  }
  .navbar2 {
    visibility: visible;
  }
  .navbar2 .container .search {
    display: none;
  }
  .navbar2 .container .upload {
    display: none;
  }
  .navbar2 .container .btn {
    display: none;
  }
  .ab-head {
    margin-bottom: 50px;
  }
  .ab-head .ab-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ab-head .ab-main .arrow1 {
    display: none;
  }
  .ab-head .ab-main .ab-left .shadow1 {
    width: 315px;
    height: 380px;
  }
  .ab-head .ab-main .ab-left .ab-img-section {
    margin-left: 0px;
  }
  .ab-head .ab-main .ab-left .ab-img-section .item3 {
    margin-top: -10px;
  }
  .ab-head .ab-main .ab-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ab-head .ab-main .ab-right .ab-right-main {
    width: 330px;
    margin-top: 50px;
  }
  .ab-head .ab-main .ab-right .ab-right-main .list ul .right {
    margin: 0;
  }
  .mission {
    margin-bottom: 50px;
  }
  .mission .container .title {
    margin-top: 50px;
  }
  .mission .container .mission-sm {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .mission .container .item {
    width: 45%;
    height: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .mission .container .item .item-desc, .mission .container .item p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .founder .item {
    width: 45%;
    margin-right: 10px;
  }
  .founder .item .fouder-desc h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .economy .item {
    width: 100%;
  }
  .economy .item2 {
    width: 100%;
  }
  .review .container .review-item .rev-desc {
    width: 300px;
    padding: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .review .container .review-item .rev-desc .desc {
    visibility: hidden;
  }
  .review .container .review-item .rev-desc .desc p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .find .container .row .button .btn {
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .ab-head {
    margin-bottom: 50px;
  }
  .ab-head .ab-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ab-head .ab-main .arrow1 {
    display: none;
  }
  .ab-head .ab-main .ab-left {
    margin-right: 50px;
  }
  .ab-head .ab-main .ab-left .shadow1 {
    width: 470px;
    height: 500px;
  }
  .ab-head .ab-main .ab-left .ab-img-section {
    margin-left: 50px;
  }
  .ab-head .ab-main .ab-left .ab-img-section .item3 {
    margin-top: -10px;
  }
  .ab-head .ab-main .ab-right .ab-right-main {
    width: 100%;
    margin-top: 50px;
  }
  .mission {
    margin-bottom: 50px;
    margin-top: 0;
  }
  .mission .container .mission-sm {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .mission .container .mission-sm .item {
    width: 45%;
    margin-bottom: 30px;
  }
  .mission .container .mission-sm .item p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .founder .item {
    width: 45%;
    margin-right: 10px;
  }
  .economy .item {
    width: 80%;
  }
  .economy .item2 {
    width: 100%;
  }
  .economy .item2 .item-desc {
    margin-top: 30px;
  }
  .review .container .review-item .rev-desc {
    width: 500px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    max-width: 600px;
  }
  .ab-head {
    margin-bottom: 50px;
  }
  .ab-head .ab-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ab-head .ab-main .arrow1 {
    display: none;
  }
  .ab-head .ab-main .ab-left {
    margin-right: 50px;
  }
  .ab-head .ab-main .ab-left .shadow1 {
    width: 470px;
    height: 500px;
  }
  .ab-head .ab-main .ab-left .ab-img-section {
    margin-left: 50px;
  }
  .ab-head .ab-main .ab-left .ab-img-section .item3 {
    margin-top: -10px;
  }
  .ab-head .ab-main .ab-right .ab-right-main {
    width: 100%;
    margin-top: 50px;
  }
  .mission {
    margin-bottom: 50px;
  }
  .mission .container .mission-sm .item {
    margin-bottom: 30px;
    width: 250px;
  }
  .mission .container .mission-sm .item p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .founder .item {
    width: 260px;
    margin-right: 10px;
  }
  .economy .item {
    width: 100%;
  }
  .economy .item2 {
    width: 100%;
  }
  .economy .item2 .item-desc {
    margin-top: 30px;
  }
  .review .container .review-item .rev-desc {
    width: 560px;
    height: 340px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .ab-head .ab-main .arrow1 {
    display: none;
  }
  .ab-head .ab-main .ab-left {
    margin-right: 50px;
  }
  .ab-head .ab-main .ab-left .shadow1 {
    width: 400px;
    height: 500px;
  }
  .ab-head .ab-main .ab-left .ab-img-section {
    margin-left: 50px;
  }
  .ab-head .ab-main .ab-left .ab-img-section .item3 {
    margin-top: -10px;
  }
  .mission .container .mission-sm .item {
    width: 220px;
  }
  .mission .container .mission-sm .item p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .founder .item {
    width: 220px;
  }
  .economy .item {
    width: 45%;
  }
}

@media (min-width: 1200px) and (max-width: 1439.98px) {
  .ab-head .ab-main .arrow1 {
    display: block;
    top: -40px;
    margin-left: 110px;
  }
  .ab-head .ab-main .ab-left {
    margin-right: 70px;
  }
  .ab-head .ab-main .ab-left .shadow1 {
    width: 450px;
    height: 500px;
  }
  .ab-head .ab-main .ab-left .ab-img-section {
    margin-left: 50px;
  }
  .ab-head .ab-main .ab-left .ab-img-section .item3 {
    margin-top: -40px;
  }
  .mission .container .mission-sm .item {
    width: 270px;
  }
  .mission .container .mission-sm .item p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .founder .item {
    width: 270px;
  }
}
/*# sourceMappingURL=ab-style.css.map */