.p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #65696B;
  line-height: 150%;
  margin-bottom: 10px;
}

.h1 {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #012E47;
}

.h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #012E47;
  line-height: 150%;
}

.h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #012E47;
  line-height: 150%;
  margin: 0;
}

.replay {
  color: #566FFE;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.custom-input {
  width: 100%;
  background: #F5FAFC;
  border-radius: 9px;
  padding: 12px 20px;
  border: none;
}

.custom-btn {
  width: 100%;
  text-align: center;
  background: linear-gradient(184.66deg, #CF74FF -59.72%, #1B59ED 212.35%);
  padding: 15px;
  color: #fff;
  border-radius: 10px;
}

.blog-details .details {
  width: 67%;
  padding: 15px;
  position: relative;
  border-radius: 30px;
}

.blog-details .details .details-item .item-title img {
  width: 100%;
}

.blog-details .details .details-item .item-title .btn {
  left: 35px;
  top: 30px;
}

.blog-details .details .details-item .text {
  padding: 15px;
}

.blog-details .details .details-item .user img {
  width: 60px;
  height: 60px;
  margin-right: 17px;
}

.recent-post {
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.com-main {
  width: 90%;
  padding: 25px 35px;
  border-radius: 30px;
}

.com-main .first-comment {
  border: 1px solid #D9E6F0;
  border-radius: 10px;
  padding: 13px 20px;
  margin: 30px 0;
}

.com-main .first-comment .user-name img {
  margin-right: 17px;
}

.com-main .replay-comment-main {
  position: relative;
}

.com-main .replay-comment {
  width: 80%;
  margin-top: 0;
  background: #F5FAFC;
  position: relative;
}

.com-main .replay-comment::before {
  left: -60px;
  width: 60px;
  height: 1px;
  background-color: #D9E6F0;
  content: "";
  top: 50%;
  position: absolute;
}

.com-main .replay-comment::after {
  left: -60px;
  width: 1.5px;
  height: 100%;
  background: #D9E6F0;
  content: "";
  top: 0;
  position: absolute;
}

.replay-section {
  border: 1px solid #D9E6F0;
  border-radius: 10px;
  padding: 13px 20px;
}

.replay-section .name-email {
  width: 40%;
}

.recent-post .item {
  width: 32%;
  padding: 13px;
  border-radius: 34px;
}

.recent-post .item .item-title img {
  width: 100%;
}

.recent-post .item .item-title .btn {
  left: 30px;
  top: 30px;
  border-radius: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  padding: 8px 27px;
}

.recent-post .item .text {
  padding: 17px;
  padding-bottom: 0;
}

.recent-post .item .user {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.recent-post .item .user .user-name {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent-post .item .user .user-name img {
  width: 60px;
  height: 60px;
  margin-right: 17px;
}

.recent-post .item .user .user-name .date {
  font-family: 'Roboto';
  font-style: normal;
  color: #65696B;
  font-weight: 400;
  font-size: 13px;
}

@media (max-width: 575.98px) {
  .blog-details .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-details .details {
    width: 100%;
  }
  .side {
    width: 100%;
  }
  .side .categories .all-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .side .connect .social .social-icon {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .com-main {
    width: 100%;
  }
  .recent-post .item {
    width: 95%;
    margin-bottom: 30px;
  }
  .replay-section .name-email-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .replay-section .name-email {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .blog-details .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-details .details {
    width: 100%;
  }
  .side {
    width: 100%;
  }
  .side .categories .all-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .side .connect .social .social-icon {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .com-main {
    width: 100%;
  }
  .recent-post .item {
    width: 95%;
    margin-bottom: 30px;
  }
  .replay-section .name-email-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .replay-section .name-email {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .recent-post .item {
    width: 45%;
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=blog-details.css.map */